<strong>Password Recovering<strong>

  <p>A password request was made for the email ({{email}}). If you did not request this password change it is recommended that you change you password.</p>
  
  <p>To continue with the passord recovery, use the token {{token}} or click hte link bellow.</p>

  <a href="{{link}}">Create new password</a>